.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.TVcontainer{
  display: flex;
  flex-wrap: wrap;
  border:solid;
  border-color: Black;

}
.playerContainer{
  width: 80%;
  height: 800px;
  background-color: #bbb;
  display:block;
  border:solid;
  border-color: Black;

}
.channelSelector{
  width: 19.5%;
  height:800px;
  background-color: #999;
}